.gameInfoContainer {
    border-radius: 10px; 
    background-color: #ffffff;
}
.gameTitleText {
    color: #61667c;
}
.gameComparisonModalContent {
    border-radius: 10px; 
    background-color: #F0EDE8;
}
.gameComparisonWhiteText {
    color: white;
}
.gameComparisonGreenBox {
    border-radius: 10px; 
    background-color: #26AF42;
}
.gameComparisonBlueBox {
    border-radius: 10px; 
    background-color: #267EAF;
}

/*
 * When the screen is less than 768px (or less than the medium breakpoint in 
 * bootstrap) this makes the entire background the same color as the modal. In
 * a sense it hides the fact that the modal is not scaling its background properly
 * for mobile devices.
*/
@media (max-width: 768px) {
    .gameComparisonMobileBackground {
        background-color: #F0EDE8;
    }
}