*{
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #EDEDED;	

}

.navbar{
    background-color: #267EAF;

}
.titleLogo{
    width: 300px;
}

/* Dashboard- top5 Cards */
/* - Size: XS */
.card-text:last-of-type {
    position:absolute;
    bottom: 10px;
    margin:auto;
    text-align:center;
    margin-left: 35vw;
}    
.game-card {
    width: 80vw;
    height: 340px;
    margin: 10px;
}
.card-img-top {
    object-fit:contain;
    background-color:#89BCC4;
    height: 60%;
    padding: 10px;
}
@media (min-width: 576px)  {
    /* - size SM */
    .game-card{
        width: 40vw;
    }

    .card-text:last-of-type{
        margin-left: 15vw;
    }
}
@media (min-width: 768px)  {
    /* - size MD */
    .game-card{
        width: 32vw;
    }

    .card-text:last-of-type{
        margin-left: 12vw;
    }
}
@media (min-width: 992px){
    /* - size LG */
    .game-card{
        width: 20vw;
    }
    .card-img-top{
        height: 156px;
        padding: 10px;
    }

    .card-text:last-of-type{
        margin-left: 7vw;
    }
}
@media (min-width: 1200px)  {
    /* - size XL */
    .game-card{
        width: 18vw;
    }
    .card-img-top{
        height: 156px;
        padding: 10px;
    }

    .card-text:last-of-type{
        margin-left: 7vw;
    }
}
@media (min-width: 1400px) {
    /* - size 2X */
    .game-card{
        width: 256px;
        height: 286px;
        margin: 10px;
    }
    .card-img-top{
        height: 124px;
        width: 100%;
        padding: 10px;
    }
    .card-text:last-of-type{
        margin-left: 8vw;
    }
}


.search-menu{
    width: 100%;
    max-width: 120px;
}

.search-bar{
    width: 100%;
    max-width: 400px;
}
.search-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
.sidebar{
    Max-height: 100%;
    width: 25%;
    max-width: 250px;
    min-width: 200px;
}

.content{
    width: 75%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #999999;  
  background-color: #267EAF;
  overflow-wrap: none;
}

.secondary_color{
    background-color: #38B8FC;
}

.tertiary_color{
    background-color: #89BCC4;
}
.heroBannerContainer{
    padding: 30px;
    justify-content: center;
}
.heroBanner{
    margin: 20px;
    width: 45%
}