/* General Site CSS */
*{
    padding: 0;
    margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #EDEDED;	
}
.navbar{
    background-color: #267EAF;
}
.titleLogo{
    width: 300px;
}
.content{
    width: 75%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: max-content;
  border-top: 1px solid #999999;  
  background-color: #267EAF;
}
.secondary_color{
    background-color: #38B8FC;
}
.tertiary_color{
    background-color: #89BCC4;
}
/* Search Bar */
.search-menu{
    width: 100%;
    max-width: 120px;
}

.search-bar{
    width: 100%;
    max-width: 400px;
}
.search-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/***************************/
/*      Game Details       */
/***************************/

/* hiPanel: The div that gives the different sections an embossed look */
.hiPanel{
	background-color: #ffffff;
	border-radius:8px;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
	padding: 5px;
	height:auto;
	width:fit-content;
}
.detailHeader{
    margin-left: auto;
    margin-right: 0;
	/* height: 313px; */
	/* max-height: 400px; */
}
/* gd_Pic: The board game picture */
.gd_Pic{
    
    object-fit:contain;
    background-color:#89BCC4;
	max-width: 30vw; 
	max-height: 52vh; 
}
/* gd_Title - The name of the game */
.gd_Title {
	justify-content: center;
	font-size: xx-large;
	text-align: center;
	color: #267EAF;	
}
/* playerPabel - The container div for the icon stats [player count, playtime, etc] */
.playerPanel{
	height: 100%;
}
.gd_iconGroup{
	margin: 5px;
	min-width: 64px; 
}
.gd_icon{
	min-height: 20vh;
	object-fit: contain;
    height: 55%;
}
.gd_iconLabel{
	color: #267EAF;
	font-size: medium;
    height: 40%;
    margin: 0;
    text-align: center;
    justify-content: center;
}
.rankBox {
	background-color: #267EAF;	
	font-size: small;
	color: #FFFFFF;	
	border-radius:12px;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.4);
	padding: 5px;
	margin:5px;
	flex-grow:1;
	min-width: 80px;
}
.rankDiv {
	flex-grow:2;
	min-width: 160px
}
.rankBox label {
	justify-content: center;
	text-align: center;	
	align-items: stretch;
}
.rbTitle {
}

.rbDetail {
	font-size: xx-large;
}
.publicationFrame {
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	margin-top: 5px;
}
.pubLabel {
	text-align:left;
	margin-left: 1em;
    font-size: small;
}
.pubData {
	text-align:right;
	margin-right: 1em;
	color: #267EAF;
}
.gd_Description{
	text-align:justify;
	color: #267EAF;
	font-size: large;
	
}
@media (max-width: 1199.98px)  {
    /* - size LG */
    .gd_Pic{ background-color: green; }
}
@media (max-width: 991.98px){
    /* - size MD */
    .gd_Pic{ background-color: yellow; max-width: 60vw; margin: auto; }
    .hiPanel{ margin:auto; }
    .ratingBox{ margin-top:10px; }
    .gd_Title { align-self: center; }
}
@media (max-width: 767.98px)  {
    /* - size SM */
    .gd_Pic{ background-color: orange; }
    .gd_iconGroup{ margin-bottom: 0; }
    .playerPanel{ padding-bottom:0; justify-content: space-between; max-width:60vw;}
    .publicationFrame{ margin-top:15px; width: 60vw; }
}
@media (max-width: 575.98px)  {
    /* - size XS */
    .gd_Pic{ background-color: red; }
    .gd_iconGroup{ min-width:0; }
    .gd_icon{ min-height:0; }
}






